<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="menu.css"/>

    <script src="jquery.js"> </script>
    <script src="menu.js"> </script>
  </head>

  <body>
    <div class="panel">
      <div class="panel-section panel-section-header">
          <div class="panel-form-table">
              <div class="panel-form-row">
                <div class="panel-form-column1" style="width: 50px">
                  <img src="./../icons/ivi.png" width="40px" height="40px" />
                </div>
                <div class="panel-form-column2" style="width: 200px">
                    <div class="text-section-header-top">
                        iVi - Control Panel
                     </div>
                     <div class="text-section-header-bottom">
                       Personalizing your Dashboard
                     </div>
                </div>
              </div>
            </div>
          </div>
      </div>

      <div class="panel-form-table">
        <div class="panel-form-row">
          <div class="panel-form-column1">
              URL Monitor 1
          </div>
          <div class="panel-form-column2">
              <input type="text" id="url1" name="url1" value="" />
          </div>
        </div>

        <div class="panel-form-row">
          <div class="panel-form-column1">
              URL Monitor 2
          </div>
          <div class="panel-form-column2">
              <input type="text" id="url2" name="url2" value="" />
          </div>
        </div>

        <div class="panel-form-row">
          <div class="panel-form-column1">
              URL Monitor 3
          </div>
          <div class="panel-form-column2">
              <input type="text" id="url3" name="url3" value="" />
          </div>
        </div>

        <div class="panel-form-row">
          <div class="panel-form-column1">
              URL Monitor 4
          </div>
          <div class="panel-form-column2">
              <input type="text" id="url4" name="url4" value="" />
          </div>
        </div>

        <div class="panel-form-row">
          <div class="panel-form-column1">
              Incognito Mode
          </div>
          <div class="panel-form-column2">
              <input type="checkbox" id="incognito" name="incognito" value="" /> Check for incognito mode
          </div>
        </div>
      </div>

      <div class="panel-section-separator"></div>
    </div>
</body>

</html>
